[Unit]
Description=Check if qmcgaw/gluetun container isn't running but other running and take action

[Service]
Type=oneshot
ExecStart=/root/check_docker.sh
