[Unit]
Description=check docker container every 3 hours

[Timer]
OnBootSec=30min
OnUnitActiveSec=3h
AccuracySec=1min

[Install]
WantedBy=timers.target
