[Unit]
Description=Check if qmcgaw/gluetun container isnt running but other running and take action

[Service]
Type=oneshot
ExecStart=/root/check_docker.sh
RemainAfterExit=no
