[Unit]
Description=Mail Server Monitor Service
After=network.target

[Service]
Type=simple
ExecStart=/root/mailserver_monitor.sh
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
