[Unit]
Description=Run reboot.service every 2 hours at the start of the hour

[Timer]
OnCalendar=*:00/2
Persistent=true

[Install]
WantedBy=timers.target
