[Unit]
Description=Remmina Monitor Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /root/remmina.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
