[Unit]
Description=Run restart service every three days

[Timer]
OnBootSec=5min
OnUnitActiveSec=3d
AccuracySec=1min

[Install]
WantedBy=timers.target
