[Unit]
Description=Run restart service every five days
Unit=restart.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=10d
AccuracySec=1min

[Install]
WantedBy=timers.target
