[Unit]
Description=Run restart service every three hours

[Timer]
OnBootSec=5min
OnUnitActiveSec=3h
AccuracySec=1min

[Install]
WantedBy=timers.target
