[Unit]
Description=Run restart service every twelve hours

[Timer]
OnBootSec=5min
OnUnitActiveSec=12h
AccuracySec=1min

[Install]
WantedBy=timers.target
